{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<h1>{{luokka.nimi}}</h1>

<div class="alert alert-success">
    {{message}}
</div>

<h4>Kuvaus</h4>
<p>
    {{luokka.kuvaus}}
</p>

<h4>Luokan tehtävät</h4>

<a href="{{base_path}}/tehtavien_listaus/{{luokka.id}}" > Listaus </a>   luokan tehtävistä.

<h4> </h4>
<a href="{{base_path}}/luokka/{{luokka.id}}/muokkaus" class="btn btn-default">Muokkaa</a> 
{{forms.poistopainike("#{base_path}/luokka/#{luokka.id}/poisto")}}




{% endblock %}


