{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<h1>Tehtäväluokat</h1>

<div class="alert alert-success">
    {{message}}
</div>

<p>
    <a href="{{base_path}}/luokka/uusi" class="btn btn-default btn-sm" >Lisää luokka</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Luokka</th> 
            <th>Kuvaus</th> 
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
    </thead>

    <tbody>
        {% for luokka in luokat %}
        <tr>
            <td><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</td>


            <td>{{luokka.kuvaus}}</td> 

            <th>    <a href="{{base_path}}/luokka/{{luokka.id}}/muokkaus" class="btn btn-default">Muokkaa</a> </th>
            <th>{{forms.poistopainike("#{base_path}/luokka/#{luokka.id}/poisto")}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}