{% extends "base.html" %}
{% block content %}

<h1>Rekisteröityminen</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/kayttaja">
    <div class="form-group">
        <label>Etunimi</label>
        <input type="text" name="etunimi" class="form-control" value="{{attributes.etunimi}}">
    </div>

    <div class="form-group">
        <label>Sukunimi</label>
        <input type="text" name="sukunimi" class="form-control" value="{{attributes.sukunimi}}">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" name="kayttajatunnus" class="form-control" value="{{attributes.kayttajatunnus}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" name="salasana" class="form-control">
    </div>

    <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" name="sahkoposti" class="form-control" value="{{attributes.sahkoposti}}">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>
{% endblock %}