{% extends "base.html" %}

{% block content %}

<h1 class="text-center"> Muistilista</h1>

<h1> </h1>
<h1> </h1>
<h1> </h1>

<h3>Kirjaudu sisään</h3>
<h1> </h1>
<form>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control">
    </div>


    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary"  >Kirjaudu sisään </button>

</form>
<h1> </h1>


<p>
    <strong>Uusi käyttäjä?</strong> <a href="http://okpiok.users.cs.helsinki.fi/tsoha/rekisteroidy" class="btn btn-link" role="button">Rekisteröidy tästä.</a>
</p>

{% endblock %}