{% extends "base.html" %}
{% block content %}

<h1>Muokkaa tehtävää</h1>

<form>

    <div class="form-group">
        <label>Otsikko</label>
        <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">  
        </textarea>
    </div>
    <div class="form-group">
        <label>Ajankohta</label>
        <input type="text" class="form-control" value="">
    </div>
    <div class="form-group">
        <label>Luokat</label>
        <select class="form-control" name="categories[]" multiple="">
        </select>
    </div>
    <div class="form-group">
        <label>Tärkeysaste</label>
        <input type="text" class="form-control" value="">
    </div>


    <div class="form-group">
        <label>Suorituksen tila</label>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                Kesken
            </label>
            <label>
                <input type="checkbox">
                Valmis
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-sm">Tallenna</button>
    </div>
</form>

{% endblock %}