{% extends "base.html" %}
{% block content %}

<h1>Tehtävän otsikko</h1>


<ul>
    <li>Ajankohta:</li>
    <li>Tila:</li>
    <li>Luokat:</li>
</ul>
<h4>Kuvaus</h4>
<p>
    Tässä on tehtävän kuvaus. Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.Tässä on tehtävän kuvaus.
</p>
<p>
    <button class="btn btn-default">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>

{% endblock %}