{% extends "base.html" %}
{% block content %}

<h1>Rekisteröidy</h1>
<form>
    <div class="form-group">
        <label>Etunimi</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Sukunimi</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control">
    </div>


    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>

{% endblock %}