{% extends "base.html" %}
{% block content %}

<h1>Käyttäjän muistilista</h1>

<p>
    <a href="http://okpiok.users.cs.helsinki.fi/tsoha/lisaa_tehtava" class="btn btn-default btn-sm">Lisää tehtävä</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tehtävä</th>
            <th>Luokat</th>
            <th>Tärkeysaste</th>
            <th>Ajankohta</th>
            <th>Tila</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="#">Tehtävä</a></td>
            <td>Työ</td>
            <td>Erittäin tärkeä</td>
            <td>8.9.2015</td>
            <td><label class="label label-danger">kesken</label></td>
            <th><a class="btn btn-default btn-sm" href="http://okpiok.users.cs.helsinki.fi/tsoha/muokkaus">Muokkaa</a></th>
            <th><a class="btn btn-default btn-sm" href="#">Poista</a></th>

        </tr>
    </tbody>
</table>

{% endblock %}