{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<h1>{{tehtava.otsikko}}</h1>


<div class="alert alert-success">
    {{message}}
</div>


<li>Ajankohta:{{tehtava.ajankohta}}</li>  
{% if tehtava.suoritettu %}
<li>Tila: Valmis</li> 
{% else %}
<li>Tila: Kesken</li>
{% endif %}


<li>Tärkeysaste: {{tehtava.tarkeysaste}}</li> 


<li>Luokat: 
    {% for luokka in luokat %}  
    <a href="{{base_path}}/luokka/{{luokka.id}}" class="btn btn-link" role="button">{{luokka.nimi}}</a> 
    {% endfor %} 
</li> 

<h4>Kuvaus</h4>
<p>
    {{tehtava.kuvaus}}
</p>
<a href="{{base_path}}/tehtava/{{tehtava.id}}/muokkaus" class="btn btn-default">Muokkaa</a>  <!tee tästä myös makro>


{{forms.poistopainike("#{base_path}/tehtava/#{tehtava.id}/poisto")}}


{% endblock %}