{% extends "base.html" %}
{% block content %}

<h1>{{tehtava.otsikko}}</h1>

<div class="alert alert-success">
    {{message}}
</div>

<li>Ajankohta:{{tehtava.ajankohta}}</li>  <!Miksi ajankohta ei näy? >
{% if tehtava.suoritettu %}
<li>Tila: Valmis</li> 
{% else %}
<li>Tila: Kesken</li>
{% endif %}

<li>Luokat:</li>

<h4>Kuvaus</h4>
<p>
    {{tehtava.kuvaus}}
</p>

<form method="post" action="{{base_path}}/tehtava/{{tehtava.id}}/poisto" style="display: inline-block;">
    <a href="#" class="btn btn-default">Muokkaa</a> 
    <a href="#" class="btn btn-default">Poista</a> 
</form>


{% endblock %}