<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän muistilista</h1>

<p>
    <a href="{{base_path}}" class="btn btn-default btn-sm">Lisää tehtävä</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tehtävä</th>
            <th>Luokkat</th>
            <th>Tärkeysaste</th>
            <th>Ajankohta</th>
            <th>Tila</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for tehtava in tehtavat %}
        <tr>
            <td><a href="#">tehtava.nimi</a></td>
            <td>Työ</td> 
            <!Luokka toisesta taulusta. Jatka tästä...>
            <td>Erittäin tärkeä</td>
            <td>tehtävä.ajankohta</td>
            <td><label class="label label-danger">kesken</label></td>
            <th><a class="btn btn-default btn-sm" href="http://okpiok.users.cs.helsinki.fi/tsoha/muokkaus">Muokkaa</a></th>
            <th><a class="btn btn-default btn-sm" href="#">Poista</a></th>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}