
{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}



<h1>Käyttäjän {{user_logged_in.etunimi}} muistilista</h1>



<div class="alert alert-success">
    {{message}}
</div>


<p ><a href="{{base_path}}/tehtava/uusi" class="btn btn-default btn-sm">Lisää tehtävä</a></p>

<table class="table table-striped">
    <thead><tr>
            <th>Tehtävä</th>
            <th>Tärkeysaste</th>
            <th>Ajankohta</th>
            <th>Tila</th>
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
    </thead>
    <tbody>

        {% for tehtava in tehtavat %}
        <tr>
            <td><a href="{{base_path}}/tehtava/{{tehtava.id}}">{{tehtava.otsikko}}</td>


            <td>{{tehtava.tarkeysaste}}</td> 

            <td>{{tehtava.ajankohta}}</td>

            <td>
                {% if tehtava.suoritettu %}
                <label class="label label-success">valmis
                    {% else %}
                    <label class="label label-danger">kesken
                        {% endif %}
                        </td>
                        <th><a class="btn btn-default btn-sm" href="{{base_path}}/tehtava/{{tehtava.id}}/muokkaus">Muokkaa</a></th>
                        <th>
                            {{forms.poistopainike("#{base_path}/tehtava/#{tehtava.id}/poisto")}}

                        </th>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endblock %}
