{% extends "base.html" %}
{% block content %}
<h1>Tehtävän muokkaus</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/tehtava/{{attributes.id}}/muokkaus">
    <div class="form-group">
        <label>Otsikko</label>
        <input type="text" name="otsikko" class="form-control" value="{{attributes.otsikko}}" > 
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea rows="3" type="text" name="kuvaus" class="form-control" value="{{attributes.kuvaus}}">{{attributes.kuvaus}} </textarea>

    </div>

    <div class="form-group">
        <label>Ajankohta</label> <small class="text-muted"><p> Kirjoita ajankohta muodossa YYYY-MM-DD.</p></small> 
        <input type="text" name="ajankohta" class="form-control" value="{{attributes.ajankohta}}"> 
    </div>

    <div class="form-group">
        <label>Tärkeysaste</label> 
        <select class="form-control" name="tarkeysaste">
            {% for tarkeysaste in tarkeysasteet %}
            <option value="{{tarkeysaste.nimi}}" {% if attributes.tarkeysaste == tarkeysaste.nimi %}selected{% endif %} >{{tarkeysaste.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Luokat</label><small class="text-muted"><p> Voit valita monta luokkaa painamalla <kbd><kbd>ctrl</kbd></kbd> valinnan yhteydessä. Vastaavasti voit poistaa luokkavalinnat kokonaan painamalla kyseistä nappia valinnan yhteydessä.</p></small>
        <select class="form-control" name="luokat[]" multiple="">
            {% for luokka in luokat %}
            <option value="{{luokka.id}}" {% if luokka.valittu %}selected{% endif %}>{{luokka.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Suorituksen tila</label> 
        <select class="form-control" name="suoritettu">
            <option value="FALSE" {% if attributes.suoritettu == "FALSE"  %} selected {% endif %}>Kesken</option>
            <option value="TRUE" {% if attributes.suoritettu == "TRUE"  %} selected {% endif %}> Valmis </option>
        </select>
    </div>


    <div class="form-group">
        <button class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}