{% extends "base.html" %}

{% block content %}

<h1 class="text-center"> Muistilista</h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>

{% if user_logged_in %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h4 class="text-center">Muistilista-sovelluksessa voit <a href="{{base_path}}/tehtavien_listaus"  role="button">selata,</a> tallentaa, muokata sekä poistaa muistettavia asioita ja tehtäviä. </h4>
<h4 class="text-center"> Lisäksi voit itse luoda tehtäville tehtäväluokkia, joita voit myös <a href="{{base_path}}/luokkien_listaus"  role="button">selata,</a> muokata sekä poistaa.</h4>
{% endif %}

{% if user_logged_in==FALSE %}
<h1> </h1>
<h1> </h1>
<h1> </h1>
<div class="alert alert-info">
    <h4 class="text-center"><strong>Tervetuloa Muistilista-sovellukseen!</strong></h4> 

    <h1> </h1>
    <h1> </h1>
    <h1> </h1>

    <h4 class="text-center">Muistilista-sovelluksessa voit selata, tallentaa, muokata sekä poistaa muistettavia asioita ja tehtäviä. </h4>
    <h4 class="text-center"> Lisäksi voit itse luoda tehtäville tehtäväluokkia, joita voit myös selata, muokata sekä poistaa.</h4>
</div>
<h1> </h1>
<p class="text-center">
    <a href="{{base_path}}/login" class="btn btn-primary" role="button">Kirjaudu sisään</a>
</p>
<p class="text-center">
    <strong>Uusi käyttäjä?</strong> <a href="{{base_path}}/kayttaja/rekisteroityminen" class="btn btn-link" role="button">Rekisteröidy tästä.</a>
</p>

{% endif %}
{% endblock %}